{% extends 'shared/base.html' %}

{% block content %}
    <h1>{{ training.title }}</h1>
    <h2>{{ training.start_date }} through {{ training.end_date }}</h2>

    <div>Max: {{ training.capacity }}</div>
    <div>Note: {{ training.description }}</div>

    <form action="{% url 'hrapp:training_edit_form' training.training_id %}" method="GET">
        {% csrf_token %}
        <button>Edit</button>
    </form>
    <form action="{% url 'hrapp:training' training.training_id %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="actual_method" value="DELETE">
        <button>Delete</button>
    </form>
{% endblock content %}
